<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Error</title>
</head>
<body>
    <div class="container">
            <h1 class="mt-5">Error</h1>
            <p class="mt-4">{{ error_message }}</p>
            <a href="/" class="btn btn-primary mt-4">Back to Converter</a>
    </div>
</body>
</html>
